ul{
    a{
        padding: 30px;
        text-decoration: none;
        font-weight: 1000;
        font-size: 5rem;
        text-transform: uppercase;
        color: rgb(76, 195, 241);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}